---
import { API_BASE_URL, maxPosts } from "@/lib/constants";
import type { Post } from "@/interfaces.posts";
import MainLayout from "@/layouts/MainLayout.astro";
import SinglePost from "@/components/posts/SinglePost.astro";
const response = await fetch(API_BASE_URL,
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
				query IndexPage {
					posts(where: {orderby: {field: DATE, order: DESC}}, first: ${maxPosts}) {
						nodes {
							slug
							date
							title
							excerpt
							featuredImage {
								node {
									sourceUrl(size: ARCHIVEIMAGE)
								}
							}
						}
					}
				}
      `
    }),
  });

// destructure data from our JSON
const { data } = await response.json();
//console.log( data )

//  assign the array of nodes to "posts" variable for usability
const posts: Post[] = data.posts.nodes

---
<MainLayout>

	<div class="bg-slate-200 rounded-lg py-12">
					<h1 class="text-center text-3xl font-titulos font-extrabold">Contenido ADS</h1>
	</div>
				
	<div class="flex flex-wrap pt-5 -mx-2.5">
		{posts.map((post, i) => (
			<SinglePost post={post} />
		))}
	</div>

</MainLayout>				