---

import type { OpcionesPage } from '@/interfaces.posts';
import { getAllTags, getWPoptionsMain } from '@/lib/queries';
import '@fontsource-variable/assistant';
// Supports weights 100-900
import '@fontsource-variable/onest';
const tags = await getAllTags()
const tempo = await getWPoptionsMain() as OpcionesPage;
---
<header class="bg-slate-400 py-5 px-10 text-center container mx-auto">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">{tempo.copy}</a>
    </div>
    <div class="flex-none gap-2">
      <ul class="menu menu-horizontal px-1">
        <div class="flex items-center gap-8">
          
        </div>
        <!-- <li><a>Etiquetas</a></li> -->
        <li>
          <details>
            <summary>Etiquetas</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              {tags.map(tag => (
                <li><a class="font-bold hover:underline" href={`/tags/${tag.slug}`}>{tag.name}</a></li>
              ))}
            </ul>
          </details>
        </li>
        
      </ul>
    </div>
  </div>
</header>

<style is:global>
  body {
    @apply font-onest text-slate-500;
  }
</style>